#sheet {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    position: relative;

}

td{
  background: linear-gradient(135deg, rgb(226, 240, 255), rgb(190, 200, 254));
  border: 1px solid var(--text-color);
  padding: 0;
  text-align: center;
  width: 35px;
  height: 35px;
}

td input {
  display: block;
  height: 100%;
  width: 120px;
  margin: 0;
  border: none;
  padding: 4px;
  box-sizing: border-box;
  align-items: start;
    
}

td input:focus {
  outline: none;   
  background: #b0ddff; 
  color: #000000;
}

td input:focus {
  outline: none;     
  background: #c4ddfe;
  color: #1453ff;
  border: none; 
  position: relative; 
}

td:has(input:focus) {
  position: relative;       
  outline: 2px solid #0026fffe;          
  outline-offset: -2px;        
}

table tr:first-child td{
  height: 25px;
  text-align: center;
}

table td:first-child{
  height: 25px;
  width: 25px;
  text-align: center;
}

.dd-menu{
  width: max-content;
  position: absolute;
  background-color: var(--tertiary);
  border: 1px solid var(--text-color);
  border-radius: 5px;
  padding: 2px;
  display: none;
  flex-direction: column;
  z-index: 1000;
}

.dd-menu button{
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 2px 4px;
  padding-right: 16px;
  text-align: left;
  width: 100%;
}

.dd-menu button:hover{
  background-color: var(--secondary);
}

.submenu-div{
  position: relative;
}

.submenu{
  width: max-content;
  position: absolute;
  background-color: var(--tertiary);
  border: 1px solid var(--text-color);
  border-radius: 5px;
  padding: 2px;
  display: none;
  flex-direction: column;
  z-index: 1000;

  left: 100%;
  top: 50%;
}

.submenu-div:hover .submenu{
  display: flex;
  flex-direction: column;
}