#sheet {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

td{
  background: linear-gradient(135deg, rgb(226, 240, 255), rgb(190, 200, 254));
  border: 1px solid var(--text-color);
  padding: 0;
  text-align: center;
  width: 35px;
  height: 35px;
}

td input {
  display: block;
  height: 100%;
  width: 120px;
  margin: 0;
  border: none;
  padding: 4px;
  box-sizing: border-box;
  align-items: start;
    
}

td input:focus {
  outline: none;   
  background: #b0ddff; 
  color: #000000;
}

td input:focus {
  outline: none;     
  background: #c4ddfe;
  color: #1453ff;
  border: none; 
}

td:has(input:focus) {
  position: relative;       
  outline: 2px solid #0026fffe;          
  outline-offset: -2px;        
}
